body {
  background-color: black;
  scroll-behavior: smooth;

  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  list-style-type: none;
}

header {
  background-color: #0a222c;
  box-shadow: 1px 2px 11px 8px rgba(116, 230, 255, 0.63);
  width: 100vw;
}

.header-limiter {
  margin: auto;

  width: 600px;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0a222c;
}

.button {
  margin: 5px;
  border-radius: 10px;
  background-color: #0a222c;
  border-color: lightblue;
  color: lightblue;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: black;
}

.logo {
  width: 350px;
  height: 350px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.main-limiter {
  margin: 0 auto;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}

.main-images {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 10px;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

.main-images:hover {
  background-color: white;
  transform: scale(1.2);
}
dialog {
  overflow: hidden;
  border: none;
  background-color: rgba(184, 183, 183, 0.5);
}

dialog[open]::backdrop {
  position: absolute;
  top: 100px;
  bottom: 100px;
  right: 0;
  left: 0;

  display: flex;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
}

.dialog-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.dialog-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.fensterDialog {
}

dialog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 5px solid lightblue;
  margin-bottom: 0;
}

.bild-limiter {
  width: 300px;
  height: 300px;
}

.dialogButton {
  margin: 5px;
  border-radius: 10px;
  background-color: #0a222c;
  border-color: lightblue;
  color: lightblue;
  cursor: pointer;
  margin-top: 0;
}

.footer-limiter {
  margin: auto;

  width: 600px;
  height: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0a222c;
}

footer {
  background-color: #0a222c;
  box-shadow: 1px 2px 8px 11px rgba(116, 230, 255, 0.63);
  width: 100vw;
}

.company {
  padding-top: 20px;
  width: 170px;
  height: 40px;
  filter: invert(1) grayscale(1) brightness(2);
}

.source {
  text-decoration: none;

  color: white;
}

@media (max-width: 666px) {
  .header-limiter {
    display: flex;
    justify-content: center;
    width: 300px;
  }

  .bild-limiter {
    width: 170px;
    height: 170px;
  }
  .logo {
    width: 150px;
    height: 150px;
  }

  .footer-limiter {
    width: 300px;
    justify-content: center;
  }

  .company {
    width: 80px;
    height: 20px;
  }
}

@media (max-width: 410px) {
  h1 {
    font-size: 16px;
  }

  .header-limiter {
    display: flex;
    justify-content: center;
    width: 300px;
    gap: 0;
  }
  .bild-limiter {
    width: 170px;
    height: 170px;
  }
  .source {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 1600px) {
  .bild-limiter {
    width: 700px;
    height: 700px;
  }

  .dialogButton {
    margin: 5px;
    border-radius: 10px;
    background-color: #0a222c;
    border-color: lightblue;
    color: lightblue;
    cursor: pointer;
    margin-top: 0;
    width: 200px;
    height: 50px;
    font-size: 26px;
  }

  .dialog-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-left: 0px;
  }
  .overlay {
    position: absolute;
    top: 100px;
    bottom: 20px;
  }
}

@media (max-width: 784px) {
  dialog[open]::backdrop {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: 0;

    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 720px) {
  dialog[open]::backdrop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: 0;

    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
  }
  dialog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 5px solid lightblue;
  }

  .dialog-header {
    display: flex;
    width: 70px;
    justify-content: center;
    padding-left: 100px;
  }
  .bild-limiter {
    width: 170px;
    height: 170px;
  }
  .dialog-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 0px;
  }

  .dialogButton {
    margin: 5px;
    border-radius: 10px;
    background-color: #0a222c;
    border-color: lightblue;
    color: lightblue;
    cursor: pointer;
    margin-top: 0;
    font-size: 8px;
  }

  .fensterDialog {
    width: 100%;
    height: 100%;
  }
}
